body * {
  animation: sick 300s infinite linear;
}

@keyframes sick {
  0% {
    transform: rotate(360deg);
  }
}

:root {
  --background-color: #444;
  --container-background: #666;
  --details-background: #aaa;
  --summary-background: #888;

  --color: #fff;
}

body {
  background-color: #012;
  background-image:
    radial-gradient(white, rgba(255, 255, 255, 0.2) 8px, transparent 10px),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 4px, transparent 5px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 8px, transparent 10px),
    radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 8px, transparent 5px);

  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}